/*menu*/
.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
}
/**/
#page-wrapper {
    border-left: 1px solid #e7e7e7;
    margin: 0 0 0 250px;
    padding: 0 30px;
    position: inherit;
}
#page-wrapper {
    background-color: #fff;
    min-height: 568px;
    padding: 0 15px;
}
/**/

/*top 3*/
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.white-panel {
    background: none repeat scroll 0 0 #ffffff;
    color: #ccd1d9;
    text-align: center;
}
.pn {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    height: 250px;
}

.white-panel .white-header {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #c6c6c6;
    margin-bottom: 15px;
    padding: 3px;
}

.img-circle {
    border-radius: 50%;
}

.mt {
    margin-top: 25px;
}

.mb {
    margin-bottom: 25px;
}

.ds {
    background: none repeat scroll 0 0 #ffffff;
    padding-top: 20px;
}

.ds h3 {
    background: none repeat scroll 0 0 #ff865c;
    color: #ffffff;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
}

.ds .desc {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}

.ds .thumb {
    display: block;
    float: left;
    margin: 0 10px 0 20px;
    width: 30px;
}
.bg-theme {
    background-color: #68dff0;
}
.bg-theme {
    background-color: #68dff0;
}

.ds .details {
    float: left;
    width: 170px;
}
.ds i {
    font-size: 12px;
    line-height: 16px;
}

/*mine*/
.vote {
    font-family:	"Helvetica Neue",​Helvetica,​Arial,​sans-serif;
    font-size:	30px;
    color:	#0f0f0f;
    margin-top: 15px;
}