<div class="row">
    <p class="text-center pageTitle">My Quickies</p>
    <hr>

    <table class="table table-striped">
        <thead>
        <tr>
            <td class="col-md-2">Date</td>
            <td class="col-md-3">Title</td>
            <td class="col-md-5">Description</td>
            <td class="col-md-1">Votes</td>
            <td class="col-md-1">Posted</td>
            <td class="col-md-1">Action</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="quickie in quickies">
            <td>{{quickie.quickieDate | date:"MM/dd/yyyy 'at' HH:mm"}}</td>
            <td>{{quickie.title}}</td>
            <td>{{quickie.description}}</td>
            <td>1</td>
            <td>{{quickie.postDate | date:'short'}}</td>
            <td>
                <span class="glyphicon glyphicon-pencil"></span>
                <a ng-click="deleteQuickie(quickie.id,$index)"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>