<div class="row">
    <p class="text-center pageTitle">{{page.title}}</p>
    <hr/>
    <div class="col-md-4 col-sm-12">
        <!-- top quickies -->
        <div class="row">
            <div class="panel chat-panel">
                <div class="panel-heading chat-panel-heading text-center">
                    Top 3 quickies
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body chat-panel-body">
                    <ul class="chat">
                        <li class="left clearfix" ng-repeat="quickie in topQuickies">
                            <span class="chat-img pull-left">
                                <img class="img-circle img-thumb-s" alt="User Avatar"
                                     ng-src="{{quickie.speaker.picture}}"/>
                            </span>

                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{quickie.speaker.nickname}}</strong>
                                    <strong class="primary-font pull-right highlightBlue">
                                        {{quickie.score}} {{page.scoreTitle}}
                                    </strong>
                                </div>
                                <p>
                                    {{quickie.quickie.title}}
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- groups -->
        <div class="row">
            <p class="groupFilterTitle">Display quickies for group</p>

            <div ng-repeat="group in groups">
                <div class="col-md-5 groupFilterContainer" ng-if="$index % 4 == 0"
                     ng-click="selectFilter(group.id)" style="background-color:{{group.color}}">
                    <label class="groupFilterLabel">
                        <span class="glyphicon glyphicon-ok" ng-show="filterSelected(group.id)"></span> {{group.name}}
                    </label>
                </div>
                <div class="col-md-6 col-md-offset-1 {{group.htmlClass}} groupFilterContainer" ng-if="$index % 4 == 1"
                     ng-click="selectFilter(group.id)" style="background-color:{{group.color}}">
                    <label class="groupFilterLabel">
                        <span class="glyphicon glyphicon-ok" ng-show="filterSelected(group.id)"></span> {{group.name}}
                    </label>
                </div>
                <div class="col-md-6 {{group.htmlClass}} groupFilterContainer" ng-if="$index % 4 == 2"
                     ng-click="selectFilter(group.id)" style="background-color:{{group.color}}">
                    <label class="groupFilterLabel">
                        <span class="glyphicon glyphicon-ok" ng-show="filterSelected(group.id)"></span> {{group.name}}
                    </label>
                </div>
                <div class="col-md-5 col-md-offset-1 {{group.htmlClass}} groupFilterContainer" ng-if="$index % 4 == 3"
                     ng-click="selectFilter(group.id)" style="background-color:{{group.color}}">
                    <label class="groupFilterLabel">
                        <span class="glyphicon glyphicon-ok" ng-show="filterSelected(group.id)"></span> {{group.name}}
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 groupFilterContainer" ng-click="deselectFilters()">
                <label class="groupFilterLabel">ALL Groups</label>
            </div>
        </div>
    </div>

    <div class="col-md-8  col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="post" ng-repeat="quickie in quickies">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-2 col-sm-3 text-center">
                            <!-- group icon -->
                            <a href="#" class="story-img">
                                <img class="img-circle img-thumb-l" src="img/geneva-jug.png"/><!-- FIXME -->
                            </a>

                            <!-- score -->
                            <div class="vote highlightBlue">
                                <p>{{quickie.score}} {{page.scoreTitle}}</p>

                                <p ng-show="auth.isAuthenticated">
                                    <button class="btn btn-default btn-lg" title="Vote" ng-click="thumbUp(quickie)"
                                            ng-hide="quickie.scored">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </button>
                                    <button class="btn btn-default btn-lg" title="Vote" ng-click="thumbDown(quickie)"
                                            ng-show="quickie.scored">
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </button>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-10 col-sm-9">
                            <div class="row">
                                <h3>{{quickie.quickie.title}}</h3>

                                <!-- description -->
                                <div class="col-xs-9">
                                    <div class="row">
                                        <p>
                                            {{quickie.quickie.description}}
                                        </p>

                                        <p class="lead">
                                            <a href="#/quickies/{{quickie.quickie.id}}" class="btn btn-default">Read
                                                More</a>
                                        </p>

                                        <!-- quickie footer -->
                                        <ul class="list-inline">
                                            <li class="highlightBlue">
                                                proposed
                                                <span am-time-ago="quickie.quickie.postDate"></span>
                                            </li>
                                            <li>
                                                <a href="" ng-click="toggleComment(quickie)" class="highlightBlue"><i
                                                        class="glyphicon glyphicon-comment"></i>
                                                    {{quickie.comments.length}} Comment(s)</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- speaker -->
                                <div class="col-xs-3 text-center">
                                    <a href="#/profile/{{quickie.speaker.id}}" class="story-img">
                                        <img class="img-circle img-thumb-m" ng-src="{{quickie.speaker.picture}}"/>
                                    </a>
                                    <br>
                                    <a href="#/profile/{{quickie.speaker.id}}">
                                        {{quickie.speaker.nickname}}
                                    </a>
                                </div>

                                <!-- comments -->
                                <div class="col-xs-12" ng-show="quickie._view.comments">
                                    <!-- form -->
                                    <div class="row commentContainer" ng-show="auth.isAuthenticated">
                                        <form class="form form-horizontal" ng-submit="submitComment(quickie)">
                                            <div class="form-group col-xs-12">
                                                <textarea placeholder="Comment" class="col-xs-12" rows="3"
                                                          ng-model="quickie.comment.comment"/>
                                            </div>
                                            <div class="form-group col-xs-12">
                                                <button type="submit" class="btn btn-default pull-right btn-sm">
                                                    Post
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- comments list -->
                                    <div ng-repeat="comment in quickie.comments" class="row commentsContainer">
                                        <table class="table">
                                            <tr>
                                                <td class="col-xs-3">
                                                    <a href="#/profile/{{comment.user.id}}" class="story-img">
                                                        <img class="img-circle img-thumb-xs"
                                                             ng-src="{{comment.user.picture}}">
                                                    </a>
                                                    <h5><a href="#/profile/{{comment.user.id}}">{{comment.user.nickname}}</a>
                                                    </h5>
                                                    <h5>
                                                        <small><span am-time-ago="comment.date"></span></small>
                                                    </h5>
                                                </td>
                                                <td class="col-xs-9">
                                                    <h5>{{comment.comment}}</h5>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>