/*menu*/
a {
    cursor: pointer;
}

img.profile-small {
    height: 21px;
    vertical-align: bottom;
    margin-right: 5px
}

.dropdown-menu {
    background-color: #464545;
}

.datetimepicker {
    width: 370px;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #00bc8c;
}

.panel-green .panel-heading {
    background-color: #00bc8c;
    border-color: #00bc8c;
    color: #fff;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;
}

.panel-red {
    border-color: #e74c3c;
}

.panel-red .panel-heading {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}

/*top 3*/
.chat-panel {
    border: 0px;
}

.chat-panel .chat-panel-body {
    padding-bottom: 0px;
}

.chat-panel .chat-panel-heading {
    background-color: rgba(51, 122, 183, 0.1);
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

/*mine*/
.img-circle {
    border-radius: 50%;
}

.img-thumb-xs {
    width: 40px;
    height: 40px;
}

.img-thumb-s {
    width: 50px;
    height: 50px;
}

.img-thumb-m {
    width: 70px;
    height: 70px;
}

.img-thumb-l {
    width: 100px;
    height: 100px;
}

.vote {
    font-family: "Helvetica Neue", ​Helvetica, ​Arial, ​sans-serif;
    font-size: 25px;
    margin-top: 15px;
}

.commentContainer {
    /*background-color: rgba(0,188,140,0.1);*/
    background-color: rgba(51, 122, 183, 0.1);
    padding-top: 15px;
    padding-left: 25px;
}

.highlightGreen {
    color: #0ce3ac;
}

.highlightBlue {
    color: #429dcc;
}

.pageTitle {
    color: #999;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 20px;
}

.groupFilterLabel {
    color: rgba(255, 255, 255, 1);
}

.groupFilterContainer {
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.9;
}

.groupFilterTitle {
    color: #c2c2c2;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 10px;
}

.userInfoContainer {
    margin-top: 10px;
    border-radius: 4px;
    padding: 10px;
}

.userInfoContainerFooter {
    background-color: rgba(48, 48, 48, 1);
}
