<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="libs/bootstrap/css/bootstrap.darkly.min.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="libs/datetimepicker/datetimepicker.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <script type="text/javascript">var switchTo5x = true;</script>
    <!--<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>-->
    <!--<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>-->

    <script type="text/javascript">
        var addthis_config = {"data_track_addressbar": true};
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54c57e675f08faff"
            async="async"></script>
</head>
<body ng-app="quickiesApp">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ng-controller="BrainfuckController">
                <a class="navbar-brand" href="#">{{applicationName}}</a>
            </div>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" ng-controller="LoginController">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/about"><span class="glyphicon glyphicon-send"></span> About</a></li>

                <li><a href="#/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                <li ng-hide="auth.isAuthenticated"><a ng-click="login()">Login</a></li>
                <li ng-show="auth.isAuthenticated"><a ng-click="logout()">Logout</a></li>
                <li ng-show="auth.isAuthenticated"><a href="#/profile/me"><img ng-src="{{auth.profile.picture}}"
                                                                               class="profile-small"> View Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br><br><br>

<div class="container" ng-controller="CountersController">
    <div class="row">
        <div class="col-md-3 col-xs-6 ">
            <a href="#/quickies/future">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                                <img class="img-circle img-thumb-l" src="img/kitten4.jpg">
                            </div>
                            <div class="col-sm-9 col-xs-12 text-right">
                                <div class="huge hidden-xs">{{counters.future}}</div>
                                <div>Future Quickies</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="#/quickies/past">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                                <img class="img-circle img-thumb-l" src="img/kitten2.jpg">
                            </div>
                            <div class="col-sm-9 col-xs-12 text-right">
                                <div class="huge hidden-xs">{{counters.past}}</div>
                                <div>Past Quickies</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="#/quickies/me">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                                <img class="img-circle img-thumb-l" src="img/kitten5.jpg">
                            </div>
                            <div class="col-sm-9 col-xs-12 text-right">
                                <div class="huge hidden-xs">{{counters.my}}</div>
                                <div>My Quickies</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="col-md-3 col-xs-6">
            <a href="#/quickies/new">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                                <img class="img-circle img-thumb-l" src="img/kitten1.jpg">
                            </div>
                            <div class="col-sm-9  col-xs-12 text-right">
                                <div class="huge hidden-xs">+</div>
                                <div>New Quickie</div>
                            </div>
                        </div>
                    </div>

                </div>
            </a>

        </div>
    </div>

    <div ng-view></div>
</div>


<script src="libs/jquery/jquery-2.1.3.min.js"></script>
<script src="libs/moment/moment.min.js"></script>

<script src="libs/angularjs/angular.min.js"></script>
<script src="libs/angularjs/angular-route.min.js"></script>
<script src="libs/angularjs/angular-resource.min.js"></script>
<script src="libs/angularjs/angular-moment.min.js"></script>

<script src="//code.angularjs.org/1.3.9/angular-sanitize.js"></script>
<script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>
<script src="//cdn.auth0.com/js/lock-6.7.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
<script src="//cdn.auth0.com/w2/auth0-angular-4.js"></script>

<script src="libs/bootstrap/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>

<script src="js/app.js"></script>
<script src="js/services/Quickies.js"></script>
<script src="js/services/UserGroups.js"></script>
<script src="js/services/Users.js"></script>
<script src="js/services/Brainfuck.js"></script>
<script src="js/services/Vote.js"></script>
<script src="js/services/Comments.js"></script>
<script src="js/QuickiesController.js"></script>
<script src="js/AddQuickyController.js"></script>
<script src="js/EditQuickieController.js"></script>
<script src="js/BrainfuckController.js"></script>
<script src="js/MyQuickiesController.js"></script>
<script src="js/CountersController.js"></script>
<script src="js/QuickieDetailsController.js"></script>
<script src="js/LoginController.js"></script>
<script src="js/ProfileController.js"></script>
<script src="js/filters/UrlFilter.js"></script>
<script src="js/filters/FirstChars.js"></script>
<script src="js/filters/nl2br.js"></script>
<script src="libs/datetimepicker/datetimepicker.js"></script>
<!--<script type="text/javascript">-->
<!--stLight.options({publisher: "12685b54-9e40-4b84-8d8d-cdda39297bfc", doNotHash: false, doNotCopy: false, hashAddressBar: false});-->
<!--var options={ "publisher": "12685b54-9e40-4b84-8d8d-cdda39297bfc", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["linkedin", "facebook", "twitter", "googleplus", "pinterest", "email", "sharethis"]}};-->
<!--var st_hover_widget = new sharethis.widgets.hoverbuttons(options);-->
<!--</script>-->


</body>
</html>
