  list <filter>, l <filter>       Lists quickies.
                                     <filter> can be one of the following
                                       - future
                                       - past
                                       - topFuture
                                       - topP§ast
